{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        {% include 'includes/pre-loader.html' %}

        <!-- Hero -->
        <section class="section bg-primary text-white" style="height: 800px; margin-bottom: 50px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <h1 class="fw-bolder display-2" style="margin-top: 64px;">Smart-trip.my</h1>
                        <h2 class="lead fw-normal text-muted mb-4 px-lg-10" style="margin-top: 24px;">
                            Get real-time weather updates, flight times, and curated trip suggestions based on your interests.
                        </h2>       
                    </div>
                    <!-- Form -->
                    <div class="col-7" style="margin-top: 32px;">
                        <div class="input-group" style="height: 52px;">
                            <input type="text" class="form-control" style="font-size: large;" id="exampleInputIconRight" placeholder="Let us know where to go!"
                                aria-label="Search" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                        </div>
                    </div>
                    <!-- End of Form -->
                    <div class="col-12 col-md-11">
                        <!-- Form -->
                        <div class="row align-items-center" style="margin-top: 32px;">
                            <div class="row" style="margin: auto;">
                                <div class="col" style="margin: 16px;">
                                    <label class="my-1 me-2" for="inlineFormCustomSelectPref-1">From</label>
                                    <select class="form-select" style="width: 100%; height: 52px; font-size: large;" id="inlineFormCustomSelectPref-1" 
                                    
                                    name="from_selection" aria-label="From select menu" required>
                                        <option value="" disabled selected>Select an option</option>
                                        <!-- Dynamic options go here -->
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col" style="margin: 16px;">
                                    <label class="my-1 me-2" for="inlineFormCustomSelectPref-2">To</label>
                                    <select class="form-select" style="width: 100%; height: 52px; font-size: large;" id="inlineFormCustomSelectPref-2" 
                                   
                                    name="to_selection" aria-label="To select menu" required>
                                        <option value="" disabled selected>Select an option</option>
                                        <!-- Dynamic options go here -->
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row" style="margin: auto;">
                                <div class="col" style="margin: 16px;">
                                    <label class="h6" for="exampleInputDate2">Start</label>
                                    <div class="form-group">
                                        <div class="input-group input-group-border" style="width: 100%; height: 52px; font-size: large;">
                                            <span class="input-group-text" id="basic-addonDate2">
                                                <span class="fas far fa-calendar-alt"></span>
                                            </span>
                                            <input class="form-control" data-datepicker="" id="exampleInputDate2" name="start_date" placeholder="Start date" type="text" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="margin: 16px;">
                                    <label class="h6" for="exampleInputDate3">End</label>
                                    <div class="form-group">
                                        <div class="input-group input-group-border" style="width: 100%; height: 52px; font-size: large;">
                                            <span class="input-group-text" id="basic-addonDate3">
                                                <span class="fas far fa-calendar-alt"></span>
                                            </span>
                                            <input class="form-control" data-datepicker="" id="exampleInputDate3" name="end_date" placeholder="End date" type="text" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Form -->
                    </div>  
                </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <section class="section section-lg">
            <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                    <span class="fas fa-puzzle-piece text-tertiary"></span>
                </div>
                <h3 class="fw-bolder">80</h3>
                <p class="text-gray">Bootstrap 5 elements</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                    <span class="fas fa-pager text-tertiary"></span>
                </div>
                <h3 class="fw-bolder">5</h3>
                <p class="text-gray">Example Pages</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                    <span class="fab fa-sass text-tertiary"></span>
                </div>
                <h3 class="fw-bolder">Workflow</h3>
                <p class="text-gray">Sass & Gulp</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                    <span class="fab fa-js-square text-tertiary"></span>
                </div>
                <h3 class="fw-bolder">Vanilla</h3>
                <p class="text-gray">Javascript</p>
                </div>
            </div>
            <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
                <div class="col-12 col-lg-5 mb-5 mb-lg-0 order-lg-2">
                <h2 class="h1">Smart-Trip</h2>
                <p class="mb-4 lead fw-bold">Latest version of Bootstrap without jQuery</p>
                <p class="mb-4">Pixel is built using the latest version of Bootstrap 5 and we only used Vanilla
                    Javascript for everything including the plugins</p>
                <a href="https://themesberg.com/docs/pixel-bootstrap/components/accordions/" target="_blank"
                    class="btn btn-outline-primary"><span class="fas fa-book me-2"></span> Getting started</a>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                <img src="{% static 'assets/img/illustrations/bs5-illustrations.svg' %}" alt="Front pages overview">
                </div>
            </div>
            <div class="row justify-content-between align-items-center mb-5 mb-lg-7">
                <div class="col-lg-5 mb-5 mb-lg-0">
                <h2 class="h1 d-flex align-items-center">Modular sections <span
                    class="badge-md ms-3 mb-0 fs-6 badge rounded-pill text-white bg-tertiary">Pro</span>
                </h2>
                <p class="mb-4 lead fw-bold">More than 50 website sections</p>
                <p class="mb-4">Using the sections in Pixel Pro you can easily build new pages by adding them
                    together</p>
                <a href="https://appseed.us/product/pixel-bootstrap-pro/django/" target="_blank"
                    class="btn btn-primary mt-2 animate-up-2">
                    <span class="fas fa-th-large me-2"></span>
                    Explore sections
                </a>
                </div>
                <div class="col-lg-6">
                <img src="{% static 'assets/img/sections-mockup.jpg' %}" alt="MapBox Leaflet.js Custom Integration Mockup">
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-5 order-lg-2 mb-5 mb-lg-0">
                <h2 class="h1 d-flex align-items-center">User Dashboard <span
                    class="badge-md ms-3 mb-0 fs-6 badge rounded-pill text-white bg-tertiary">Pro</span>
                </h2>
                <p class="mb-4 lead fw-bold">9 dashboard pages</p>
                <p class="mb-4">Quickly set up a user settings panel with the advanced dashboard pages including
                    billing, settings, messaging</p>
                <a href="https://appseed.us/product/pixel-bootstrap-pro/django/" target="_blank"
                    class="btn btn-tertiary animate-up-2"><span class="fas fa-chart-line me-2"></span> Explore
                    dashboard</a>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                <img src="{% static 'assets/img/presentation-mockup-dashboard.png' %}" alt="Dashboard Preview">
                </div>
            </div>
            </div>
        </section>
        <!-- Section -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="organic-radius img-fluid" src="{% static 'assets/img/sections/about-us-1.jpg' %}" alt="Office Desk">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-5">All challenges accepted.</h2>
                        <p class="lead">Themesberg is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.</p>
                        <p class="lead">With a culture of collaboration, a roster of talent, and several office pooches, the Themesberg team is active in the creative community, endlessly interested in what’s next, and generally pleasant to be around.</p>
                        <img src="{% static 'assets/img/signature.svg' %}" alt="signature" class="mt-4" width="150">
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-user"></span>
                            </div>
                            <h3 class="h5">Team Members</h3>
                            <span class="counter display-3 text-gray d-block">500</span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-money-check"></span>
                            </div>
                            <h3 class="h5">Projects Published</h3>
                            <span class="counter display-3 text-gray d-block">2400</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-globe-europe"></span>
                            </div>
                            <h3 class="h5">Countries</h3>
                            <span class="counter display-3 text-gray d-block">80</span>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-lg">
            <div class="container">
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                        <h2 class="h1 mb-4">Adventurous & Memorable Trips</h2>
                        <p class="lead">Join us as we explore incredible destinations, discover new cultures, and embark on unforgettable journeys around the world.</p>
                    </div>
                </div>
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300 h-100">
                            <img src="{% static 'assets/img/team/profile-picture-3.jpg' %}" class="card-img-top rounded-top" alt="Bonnie portrait">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">Exploring the Beauty of Italy</h3>
                                <span class="card-subtitle text-gray fw-normal">Rome, Florence, Venice</span>
                                <p class="card-text my-3 flex-grow-1">Discover Italy's timeless charm, from the historic streets of Rome to the artistic wonders of Florence and the romantic canals of Venice.</p>
                                <a href="#" class="btn btn-primary mt-auto">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300 h-100">
                            <img src="{% static 'assets/img/team/profile-picture-3.jpg' %}" class="card-img-top rounded-top" alt="Bonnie portrait">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">A Journey Through Japan</h3>
                                <span class="card-subtitle text-gray fw-normal">Tokyo, Kyoto, Mount Fuji</span>
                                <p class="card-text my-3 flex-grow-1">Experience Japan's perfect blend of traditional and modern, from the bustling streets of Tokyo to the peaceful temples of Kyoto and the breathtaking view of Mount Fuji.</p>
                                <a href="#" class="btn btn-primary mt-auto">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card shadow border-gray-300 h-100">
                            <img src="{% static 'assets/img/team/profile-picture-3.jpg' %}" class="card-img-top rounded-top" alt="Bonnie portrait">
                            <div class="card-body d-flex flex-column">
                                <h3 class="h4 card-title mb-2">Adventures in Australia</h3>
                                <span class="card-subtitle text-gray fw-normal">Sydney, Great Barrier Reef, Outback</span>
                                <p class="card-text my-3 flex-grow-1">Explore Australia's diverse landscapes, from the iconic Sydney Opera House to snorkeling in the Great Barrier Reef and trekking through the vast Outback.</p>
                                <a href="#" class="btn btn-primary mt-auto">Read More</a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>


        <!-- End of section -->
    </main>

    {% include 'includes/cta-careers.html' %}

    {% endblock content %}

    {% block footer %}
    
        {% include 'includes/cta-footer.html' %}
    
    {% endblock footer %}


